In [1]:
import yfinance as yf

In [2]:
import datetime as dt

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
end = dt.date.today()

In [8]:
start = dt.date.today() - dt.timedelta(days=365)

In [9]:
symbol = 'IBM'

In [10]:
ibm = yf.Ticker(symbol)

In [11]:
ibm.info

{'address1': 'One New Orchard Road',
 'city': 'Armonk',
 'state': 'NY',
 'zip': '10504',
 'country': 'United States',
 'phone': '914 499 1900',
 'website': 'https://www.ibm.com',
 'industry': 'Information Technology Services',
 'industryDisp': 'Information Technology Services',
 'sector': 'Technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': "International Business Machines Corporation, together with its subsidiaries, provides integrated solutions and services worldwide. The company operates through four business segments: Software, Consulting, Infrastructure, and Financing. The Software segment offers hybrid cloud platform and software solutions; software for business automation, AIOps and management, integration, and application servers; data and artificial intelligence solutions; and security software and services for threat, data, and identity. This segment also provides transaction processing software that supports clients' mission-critical and on-premise workloads in banking, airlines, and retail industries. The Consulting segment offers business transformation services, including strategy, business process design and operations, data and analytics, and system integration services; technology consulting services; and application and cloud platform services. The Infrastructure segment provides on-premises and cloud-based server and storage solutions for its clients' mission-critical and regulated workloads; and support services and solutions for hybrid cloud infrastructure, as well as remanufacturing and remarketing services for used equipment. The Financing segment offers lease, installment payment, loan financing, and short-term working capital financing services. The company has collaboration agreement with Siemens Digital Industri Software to develop a combined software solution. The company was formerly known as Computing-Tabulating-Recording Co. International Business Machines Corporation was incorporated in 1911 and is headquartered in Armonk, New York.",
 'fullTimeEmployees': 288300,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Arvind  Krishna',
   'age': 59,
   'title': 'CEO & Chairman',
   'yearBorn': 1963,
   'fiscalYear': 2022,
   'totalPay': 5618738,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James J. Kavanaugh',
   'age': 55,
   'title': 'Sr. VP & CFO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 2939023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Michelle H. Browdy',
   'age': 57,
   'title': 'Sr. VP of Legal & Regulatory Affairs and Gen. Counsel',
   'yearBorn': 1965,
   'fiscalYear': 2022,
   'totalPay': 2539493,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Gary D. Cohn',
   'age': 61,
   'title': 'Exec. Vice Chairman',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 3172218,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Joanne  Wright',
   'title': 'Sr. VP of Transformation & Operations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alexander Franz Stern',
   'age': 56,
   'title': 'Sr. VP of Strategy, M&A, Corp. Devel. and Investor Relations',
   'yearBorn': 1966,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jonathan H. Adashek',
   'title': 'Sr. VP of Marketing & Communications and Chief Communications Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Nickle Jaclyn LaMoreaux',
   'age': 42,
   'title': 'Sr. VP & Chief HR Officer',
   'yearBorn': 1980,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Bernard S. Meyerson Ph.D.',
   'title': 'Chief Innovation Officer Emeritus',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kirill  Korniliev',
   'title': 'VP of Sales and Head of The Industry Solutions Area In Central & Eastern Europe',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 6,
 'compensationRisk': 5,
 'shareHolderRightsRisk': 4,
 'overallRisk': 5,
 'governanceEpochDate': 1693526400,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 143.17,
 'open': 142.14,
 'dayLow': 140.205,
 'dayHigh': 142.27,
 'regularMarketPreviousClose': 143.17,
 'regularMarketOpen': 142.14,
 'regularMarketDayLow': 140.205,
 'regularMarketDayHigh': 142.27,
 'dividendRate': 6.64,
 'dividendYield': 0.0464,
 'exDividendDate': 1691539200,
 'payoutRatio': 2.8128,
 'fiveYearAvgDividendYield': 4.94,
 'beta': 0.84993,
 'trailingPE': 59.931915,
 'forwardPE': 14.778594,
 'volume': 2547562,
 'regularMarketVolume': 2547562,
 'averageVolume': 3956031,
 'averageVolume10days': 4450570,
 'averageDailyVolume10Day': 4450570,
 'bid': 141.13,
 'ask': 141.15,
 'bidSize': 1000,
 'askSize': 900,
 'marketCap': 128306085888,
 'fiftyTwoWeekLow': 115.55,
 'fiftyTwoWeekHigh': 153.21,
 'priceToSalesTrailing12Months': 2.119886,
 'fiftyDayAverage': 144.2546,
 'twoHundredDayAverage': 135.63145,
 'trailingAnnualDividendRate': 6.61,
 'trailingAnnualDividendYield': 0.04616889,
 'currency': 'USD',
 'enterpriseValue': 174568538112,
 'profitMargins': 0.03346,
 'floatShares': 909821932,
 'sharesOutstanding': 911006016,
 'sharesShort': 28890704,
 'sharesShortPriorMonth': 27890947,
 'sharesShortPreviousMonthDate': 1692057600,
 'dateShortInterest': 1694736000,
 'sharesPercentSharesOut': 0.0317,
 'heldPercentInsiders': 0.00091,
 'heldPercentInstitutions': 0.57935,
 'shortRatio': 8.47,
 'shortPercentOfFloat': 0.0317,
 'impliedSharesOutstanding': 911006016,
 'bookValue': 24.37,
 'priceToBook': 5.7792363,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1688083200,
 'earningsQuarterlyGrowth': 0.137,
 'netIncomeToCommon': 2169999872,
 'trailingEps': 2.35,
 'forwardEps': 9.53,
 'pegRatio': 4.91,
 'lastSplitFactor': '1046:1000',
 'lastSplitDate': 1635984000,
 'enterpriseToRevenue': 2.884,
 'enterpriseToEbitda': 13.444,
 '52WeekChange': 0.17709446,
 'SandP52WeekChange': 0.1741643,
 'lastDividendValue': 1.66,
 'lastDividendDate': 1691539200,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'IBM',
 'underlyingSymbol': 'IBM',
 'shortName': 'International Business Machines',
 'longName': 'International Business Machines Corporation',
 'firstTradeDateEpochUtc': -252322200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'cbf44511-d041-3c6d-9dd7-3cc0c033122c',
 'messageBoardId': 'finmb_112350',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 140.84,
 'targetHighPrice': 177.87,
 'targetLowPrice': 104.07,
 'targetMeanPrice': 138.13,
 'targetMedianPrice': 137.19,
 'recommendationMean': 2.6,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 15,
 'totalCash': 16298000384,
 'totalCashPerShare': 17.89,
 'ebitda': 12984999936,
 'totalDebt': 60303998976,
 'quickRatio': 0.885,
 'currentRatio': 1.06,
 'totalRevenue': 60524998656,
 'debtToEquity': 270.774,
 'revenuePerShare': 66.745,
 'returnOnAssets': 0.04107,
 'returnOnEquity': 0.10396,
 'grossProfits': 32688000000,
 'freeCashflow': 10071374848,
 'operatingCashflow': 12277999616,
 'earningsGrowth': 0.126,
 'revenueGrowth': -0.004,
 'grossMargins': 0.54642,
 'ebitdaMargins': 0.21454,
 'operatingMargins': 0.141,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.1832}

In [12]:
df = yf.download(symbol, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [13]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-09-28,121.650002,123.230003,119.809998,122.760002,116.884354,4996400
2022-09-29,121.849998,122.620003,120.570000,121.629997,115.808441,3817700
2022-09-30,121.660004,122.430000,118.610001,118.809998,113.123413,5346100
2022-10-03,120.160004,122.209999,119.599998,121.510002,115.694183,4261700
2022-10-04,122.800003,125.650002,122.519997,125.500000,119.493202,4566100

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-09-28 to 2023-09-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       251 non-null    float64
 1   High       251 non-null    float64
 2   Low        251 non-null    float64
 3   Close      251 non-null    float64
 4   Adj Close  251 non-null    float64
 5   Volume     251 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [16]:
df.index

DatetimeIndex(['2022-09-28', '2022-09-29', '2022-09-30', '2022-10-03',
               '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07',
               '2022-10-10', '2022-10-11',
               ...
               '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-19',
               '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25',
               '2023-09-26', '2023-09-27'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [19]:
df.reset_index(drop=True)

,Open,High,Low,Close,Adj Close,Volume,Date
0,121.650002,123.230003,119.809998,122.760002,116.884354,4996400,2022-09-28
1,121.849998,122.620003,120.570000,121.629997,115.808441,3817700,2022-09-29
2,121.660004,122.430000,118.610001,118.809998,113.123413,5346100,2022-09-30
3,120.160004,122.209999,119.599998,121.510002,115.694183,4261700,2022-10-03
4,122.800003,125.650002,122.519997,125.500000,119.493202,4566100,2022-10-04
...,...,...,...,...,...,...,...
246,149.000000,149.250000,147.309998,147.380005,147.380005,4944600,2023-09-21
247,147.410004,148.100006,146.820007,146.910004,146.910004,2562000,2023-09-22
248,146.570007,147.429993,146.250000,146.479996,146.479996,2694200,2023-09-25
249,145.509995,146.169998,143.020004,143.240005,143.240005,4824700,2023-09-26
250,143.669998,143.820007,141.759995,143.169998,143.169998,4439800,2023-09-27

In [23]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Date'], dtype='object')

In [24]:
df

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2022-09-28,121.650002,123.230003,119.809998,122.760002,116.884354,4996400,2022-09-28
2022-09-29,121.849998,122.620003,120.570000,121.629997,115.808441,3817700,2022-09-29
2022-09-30,121.660004,122.430000,118.610001,118.809998,113.123413,5346100,2022-09-30
2022-10-03,120.160004,122.209999,119.599998,121.510002,115.694183,4261700,2022-10-03
2022-10-04,122.800003,125.650002,122.519997,125.500000,119.493202,4566100,2022-10-04
...,...,...,...,...,...,...,...
2023-09-21,149.000000,149.250000,147.309998,147.380005,147.380005,4944600,2023-09-21
2023-09-22,147.410004,148.100006,146.820007,146.910004,146.910004,2562000,2023-09-22
2023-09-25,146.570007,147.429993,146.250000,146.479996,146.479996,2694200,2023-09-25
2023-09-26,145.509995,146.169998,143.020004,143.240005,143.240005,4824700,2023-09-26
2023-09-27,143.669998,143.820007,141.759995,143.169998,143.169998,4439800,2023-09-27